<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    {% include 'layout/includes/header_includes.html' %}
    <title>Lunch Table Studios</title>
    <link rel="stylesheet" href="{% static 'layout/styles/projects.css' %}">
  </head>
  <body>
  {% include 'layout/includes/header.html' %}
  <div role="main">
    <div class="content-block">
      <div class="container">
        {% if projects %}
          {% for project in projects %}
            <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'layout/includes/footer.html' %}
  <script type="text/javascript" src="{% static 'layout/scripts/main.bundle.js' %}"></script>
  </body>
</html>
