header
{
  position : relative;
  border-image : $ltg-border;
  border-top : 8px solid;
  z-index : 1000;

  @include media-breakpoint-up( md )
  {
    border-top : none;
    border-bottom : 4px solid;
  }
}

.header-social-bar
{
  height : 140px;
  background :  url( '../images/retina/cloud_repeat.png' ) repeat-y -75px -40%,
                url( '../images/retina/cloud_repeat.png' ) repeat-y calc( 100vw - 50px ) 70%;
  background-color : $sky-blue;

  ul
  {
    display : none;
  }

  @include media-breakpoint-up( md )
  {
    display : flex;
    align-items : center;
    justify-content : flex-end;
    height : 35px;
    background : linear-gradient( to right, darken( $sky-blue, 45% ) 50%, $brand-secondary 50%, $brand-secondary 100% );
    font-size : .6rem;

    .container
    {
      padding: 0;
      background-color : darken( $sky-blue, 45% );
      height: 100%;
    }

    ul
    {
      display : flex;

      li
      {
        padding: 0 8px;
        height: 100%;
        display: flex;
        align-items: center;
        &:last-child
        {
          background-color: $brand-secondary;
          svg
          {
            position: relative;
            top : 1px;
          }
        }
      }

      .fa
      {
        margin-right : 5px;
        font-size : .8rem;
      }
    }
  }
}

.header-nav-bar
{
  height: 35px;
  background-color : darken( $sky-blue, 45% );

  .container
  {
    position : static;
    height : 100%;
  }

  @include media-breakpoint-up( md )
  {
    height : 45px;
    background :  url( '../images/retina/cloud_repeat.png' ) repeat-y -75px -25%,
                  url( '../images/retina/cloud_repeat.png' ) repeat-y calc( 100vw - 30px ) -30%;
    background-color : $sky-blue;

    .container
    {
      position : relative;
    }
  }
}

.header-logo
{
  position : absolute;
  width : 150px;
  top : 15px;
  left : 0;
  right : 0;
  margin : auto;

  img
  {
    width : 100%;
    height : auto;
    border : 3px solid white;
    border-radius: 5%;
  }

  @include media-breakpoint-up( md )
  {
    width : 110px;
    top : 5px;
    right : inherit;
    left : inherit;
  }
}
