.post-preview-image
{
  width : 100%;
  height : 150px;
  display: flex;
  justify-content : center;
  align-items : center;
  overflow : hidden;

  img
  {
    width : auto;
    height : 120%;
  }

  @include media-breakpoint-up( lg )
  {
    height : 200px;
  }
}

.post-featured-image
{

  height : 200px;
  overflow : hidden;
  display: flex;
  justify-content : center;
  align-items : center;
  border-bottom : 3px solid $grey;

  @include media-breakpoint-up( lg )
  {
    img{
      width : 100%;
    }
  }
}

.post-about
{
  display : flex;
  align-items : center;

  img{
    width : 40px;
    height : auto;
    border-radius : 8%;
  }
}
