ul
{
  margin : 0;
  padding : 0;
  list-style : none;

  &.bulleted
  {
    margin-left : 1.5rem;
    list-style : outside;

    li
    {
      min-height : 1.6rem;
    }
  }

  &.inline
  {
    display : flex;
    li
    {
      margin-right : 1rem;
    }
  }
}
