div[role=main]
{
  flex: 1;
}

.content-block
{
  padding : 2rem 0;

  @include media-breakpoint-up( md )
  {
    &:first-child
    {
      margin-top: 3rem;
    }
  }
}

.content-block-primary
{
  background: linear-gradient(to bottom,hsla(211, 32%, 36%, 1) 0%,hsla(211, 32%, 46%, 1) 100%);
  color: rgba(255,255,255,0.6);
  border-bottom: 3px solid hsla(211, 32%, 30%, 1);
  border-top: 3px solid hsla(211, 32%, 30%, 1);
}

.content-block-tertiary
{
  background: linear-gradient(to bottom,hsla(5, 79%, 50%, 1) 0%,hsl(5, 79%, 57%) 100%);
  color: rgba(255,255,255,.6);
  border-bottom: 3px solid hsla(5, 79%, 35%, 1);
  border-top: 3px solid hsla(5, 79%, 35%, 1);
}
