<footer>

  <div class="footer-content">
    <div class="container">
      test
    </div>
  </div>

  <div class="footer-cols">
    <span></span>
    <span></span>
    <span>
      <div class="mobile-social-links">
        <div class='social-link'><a href='#'><i class="fa fa-twitter"></i></a></div>
        <div class='social-link'><a href='#'><i class="fa fa-facebook"></i></a></div>
        <div class='social-link'><a href='#'><i class="fa fa-youtube"></i></a></div>
        <div class='social-link'><a href='#'><i class="fa fa-ra"></i></a></div>
      </div>
    </span>
  </div>
</footer>
