<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lunch Table Studios | Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'layout/styles/main.css' %}">
  </head>
  <body>
  {% include 'layout/includes/header.html' %}
  <div role="main">
    <div class="content-block">
      <div class="container">
        <div class="row">
          <div class="col col-12 col-md-8">
            {% if posts %}
              {% for post in posts %}
                {% if post.posted %}
                  <div class="post-preview mb-5">
                    <div><em>{{ post.created | date:"M  d, Y" }}</em></div>
                    <hr>
                    <div class="post-preview-image">
                      <a href="{{ post.get_absolute_url }}"><img src="{{ post.featuredImage.url }}" alt=""></a>
                    </div>
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>{{ post.body | striptags | truncatewords:25 }}</p>
                  </div>
                {% endif %}
              {% endfor %}
            {% else %}
            <p>There are no posts, sorry :(</p>
            {% endif %}
          </div>

          <div class="col col-12 col-md-4">
            {% if categories %}
              <div class="blog-categories-container">
                <h3 class="mt-0">Categories:</h3>
                <ul class="bulleted">
                  {% for category in categories %}
                  <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'layout/includes/footer.html' %}
  <script type="text/javascript" src="{% static 'layout/scripts/main.bundle.js' %}"></script>
  </body>
</html>
